/* 按鈕覆層 */
.buttonOverlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 10;
}

/* 按鈕位置 */
.buttonWrapper {
    position: absolute;
    pointer-events: auto;
}

.buttonTop {
    top: 10%;
}

.buttonMiddle {
    top: 50%;
    transform: translateY(-50%);
}

.buttonBottom {
    bottom: 10%;
}

.buttonLeft {
    left: 5px;
}

.buttonLeftMiddle {
    left: 5px;
}

.buttonRight {
    right: 5px;
}

.buttonRightMiddle {
    right: 5px;
}