/* 箭頭按鈕樣式 */
.arrowButton {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 9999px;
    border-color: rgb(21, 21, 21);
    border-width: 3px;
    color: rgb(255, 152, 33);
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;
}

.arrowButton:hover {
    background: rgb(229, 229, 229);
}

.arrowIcon {
    height: 1.5rem;
}