/* 主頁面樣式 */

.main {
  position: relative;
  width: 100vw;
  overflow: hidden;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 100px;
  /* 為進度條留空間 */
  overscroll-behavior: none;
  /* 防止過度捲動 */
}